# If you come from bash you might have to change your $PATH.
export PATH=/home/aryaniyaps/.local/bin:$PATH

# nvm (Node Version Manager)
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"

# Zinit installation path.
ZINIT_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}/zinit/zinit.git"

# Bootstrap Zinit if it's missing.
if [ ! -f "$ZINIT_HOME/zinit.zsh" ]; then
  mkdir -p "$(dirname "$ZINIT_HOME")"
  git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
fi

# Load Zinit.
source "$ZINIT_HOME/zinit.zsh"

# Set name of the Oh My Zsh theme to load via zinit.
# If set to "random", zinit will pick and load one theme each shell start.
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

# Set list of themes to pick from when loading at random
# Setting this variable when ZSH_THEME=random will cause zsh to load
# a theme from this variable instead of looking in $ZSH/themes/
# If set to an empty array, this variable will have no effect.
# ZSH_THEME_RANDOM_CANDIDATES=( "robbyrussell" "agnoster" )

# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment one of the following lines to change the auto-update behavior
# zstyle ':omz:update' mode disabled  # disable automatic updates
# zstyle ':omz:update' mode auto      # update automatically without asking
# zstyle ':omz:update' mode reminder  # just remind me to update when it's time

# Uncomment the following line to change how often to auto-update (in days).
# zstyle ':omz:update' frequency 13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# You can also set it to another string to have that shown instead of the default red dots.
# e.g. COMPLETION_WAITING_DOTS="%F{yellow}waiting...%f"
# Caution: this setting can cause issues with multiline prompts in zsh < 5.7.1 (see #5765)
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Which Oh My Zsh plugins would you like to load via zinit?
# OMZ plugins: https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
    # Version Control
    git 

    # Cloud & Infrastructure
    docker
    docker-compose
    terraform
    aws
    gcloud
    azure

    # Programming Languages & Tools
    python
    pip
    node
    npm
    yarn
    golang
    rust
    fzf
{{- if eq .chezmoi.osRelease.id "arch" }}
    archlinux
{{- end }}
{{- if eq .chezmoi.osRelease.id "debian" }}
    debian
{{- end }}
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
    ubuntu
{{- end }}

    # Productivity Boosters
    sudo              # Press ESC twice to add sudo to previous command
    extract           # Universal archive extractor (works with .tar, .zip, .gz, etc.)
    z                 # Jump to frequently used directories
    history           # Enhanced history commands
    command-not-found # Suggests package to install for missing commands
    vscode            # VS Code aliases and shortcuts

)

# Make tab-completion case-insensitive.
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
# Add colors to ls
zstyle ':completion:*' list-colors "${(s.:.)LS_COLORS}"
# disable regular menu
zstyle ':completion:*' menu no
# add previews to ls directories
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'

# Load a small set of Oh My Zsh libs commonly expected by OMZ plugins.
zinit snippet OMZL::git.zsh
zinit snippet OMZL::history.zsh
zinit snippet OMZL::key-bindings.zsh
zinit snippet OMZL::completion.zsh
zinit snippet OMZL::directories.zsh
zinit snippet OMZL::functions.zsh
zinit snippet OMZL::misc.zsh
zinit snippet OMZL::termsupport.zsh
zinit snippet OMZL::theme-and-appearance.zsh

# Keep existing Oh My Zsh theme.
if [[ "$ZSH_THEME" == "random" ]]; then
  if (( ${#ZSH_THEME_RANDOM_CANDIDATES[@]} )); then
    _zsh_theme="${ZSH_THEME_RANDOM_CANDIDATES[$((RANDOM % ${#ZSH_THEME_RANDOM_CANDIDATES[@]} + 1))]}"
  else
    _zsh_theme="robbyrussell"
  fi
else
  _zsh_theme="$ZSH_THEME"
fi
zinit snippet "OMZT::${_zsh_theme}.zsh-theme"
unset _zsh_theme

# Load the same Oh My Zsh plugins via Zinit.
for plugin in "${plugins[@]}"; do
  zinit snippet "OMZP::${plugin}"
done

# Community plugins via Zinit.
zinit light zsh-users/zsh-autosuggestions
zinit light zsh-users/zsh-completions

# fzf shell integration (keybindings + completion)
if command -v fzf >/dev/null 2>&1; then
  eval "$(fzf --zsh)"
fi

# zoxide smart cd integration
if command -v zoxide >/dev/null 2>&1; then
  eval "$(zoxide init --cmd cd zsh)"
fi

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Set personal aliases, overriding those provided by loaded libs/plugins/themes.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
alias ls='ls --color'

# Go workspace defaults (compatible with distro-provided Go installs)
export GOPATH="${GOPATH:-$HOME/go}"
export GOBIN="${GOBIN:-$GOPATH/bin}"

# Add Go bin dir once so `go install` binaries are available.
if [[ ":$PATH:" != *":$GOBIN:"* ]]; then
  export PATH="$GOBIN:$PATH"
fi

# Keep syntax highlighting last.
zinit light zsh-users/zsh-syntax-highlighting
